<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_field :dob %>
  </div>
  <div class="field">
    <%= f.label :medicaid_id %><br>
    <%= f.text_field :medicaid_id %>
  </div>
  <div class="field">
    <%= f.label :alert %><br>
    <%= f.text_area :alert %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <div>
  <%= link_to "Upload Alert", new_alert_path, class: "btn btn-primary" %>
  </div>
<% end %>
